<launch>    

    <param name="motor_first"                   value="/motor_1"/>
    <param name="motor_second"                   value="/motor_2"/>
    <param name="p_gain_m1"                   value="5000.0"/>
    <param name="d_gain_m1"                   value="10.0"/>
    <param name="p_gain_m2"                   value="5000.0"/>
    <param name="d_gain_m2"                   value="10.0"/>
    
    

    <!-- mobile robot motor node -->
    <node name="mobile_robot_motor1" pkg="mobile_robot" type="mobile_robot_motor" output="screen"/>

</launch>

